.bgcolor {
  background-color: darkgray;
}

.texto-centrado {

  text-align: center;
  font-size: 35px;

}

#foto-1 {

  border: 8px solid black;
  
}

#foto-2 {
   
  border: 8px solid black;
}

#foto-3 {
   
  border: 8px solid black;
}

#foto-4 {
   
  border: 8px solid black;
}

#foto-5 {
   
  border: 8px solid black;
}

#foto-6 {
   
  border: 8px solid black;
}

#foto-7 {
   
  border: 8px solid black;
}

#foto-8 {
   
  border: 8px solid black;
}

#foto-9 {
   
  border: 8px solid black;
}

#foto-10 {
   
  border: 8px solid black;
}